html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Запрещаем прокрутку */
}
/* Отключение задержки для сенсорных экранов на iOS */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Убираем подсветку при нажатии */
    touch-action: manipulation; /* Оптимизация для сенсорных экранов */
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/Assets/Bckd_1.jpg'); /* Путь к вашему изображению */
    background-size: cover; /* Изображение масштабируется, чтобы покрыть всю страницу */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-attachment: fixed; /* Фон остается на месте при прокрутке */
    margin: 0;
    padding: 0;
    color: white; /* Цвет текста на фоне */
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    justify-content: center; /* Центрируем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    height: 100vh; /* Высота 100% окна просмотра */
    min-height: 100vh; /* Минимальная высота 100% окна */
}

/* Анимация увеличения */
.counter.animate {
    transform: scale(1.5); /* Временно увеличиваем размер текста */
    color: #ff7f50; /* Меняем цвет текста */
}

/* Плавный возврат к нормальному состоянию */
.counter.animate-end {
    transform: scale(1); /* Возвращаем обычный размер */
    color: white; /* Возвращаем исходный цвет */
}

h1, .counter, .button {
    text-align: center; /* Выравниваем текст по центру */
}

.counter {
    font-size: 48px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, color 0.2s ease; /* Плавная анимация изменения размера и цвета */
}
.button {
    -webkit-tap-highlight-color: transparent; /* Отключаем синий эффект на устройствах с сенсорным экраном */
    padding: 20px;
    background-image: url('/Assets/HSe_COin.png'); /* Путь к вашему изображению */
    background-size: cover; /* Масштабируем изображение по размеру кнопки */
    background-repeat: no-repeat;
    background-position: center; /* Центрируем изображение */
    background-color: transparent; /* Убираем цвет фона кнопки */
    border: none; /* Убираем границы */
    width: 450px; /* Ширина кнопки */
    height: 450px; /* Высота кнопки */
    cursor: pointer;
    border-radius: 10000000000000px; /* Закругляем углы, если нужно */
    color: transparent; /* Делаем текст невидимым */
    outline: none; /* Убираем синий контур при фокусе */
    transition: transform 0.2s ease; /* Плавная анимация трансформации */
}

.button:active {
    transform: scale(0.9); /* Уменьшаем кнопку при нажатии */
    transition: transform 0.1s ease; /* Быстрая реакция на нажатие */
}



.save-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Стиль для нижнего бара */
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0; /* Убедимся, что бар начинается с края экрана */
    width: 100%; /* Задаем ширину 100% */
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 34px 0;
    box-sizing: border-box; /* Включаем паддинги в ширину */
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.icon:hover {
    color: #61dafb;
}
