html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Запрещаем прокрутку */
}
/* Отключение задержки для сенсорных экранов на iOS */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Убираем подсветку при нажатии */
    touch-action: manipulation; /* Оптимизация для сенсорных экранов */
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/Assets/Bckd_1_TRL.png'); /* Путь к вашему изображению */
    background-size: cover; /* Изображение масштабируется, чтобы покрыть всю страницу */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-attachment: fixed; /* Фон остается на месте при прокрутке */

    color: white; /* Цвет текста на фоне */
    display: flex;
    flex-direction: column; /* Размещаем элементы по вертикали */
    justify-content: center; /* Центрируем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    height: 100vh; /* Высота 100% окна просмотра */
    min-height: 100vh; /* Минимальная высота 100% окна */
}

/* Анимация увеличения */
.counter.animate {
    transform: scale(1.5); /* Временно увеличиваем размер текста */
    color: #ff7f50; /* Меняем цвет текста */
}

/* Плавный возврат к нормальному состоянию */
.counter.animate-end {
    transform: scale(1); /* Возвращаем обычный размер */
    color: white; /* Возвращаем исходный цвет */
}

h1, .counter, .button {
    text-align: center; /* Выравниваем текст по центру */
}
.CPS {
    font-size: 40px;
    position: absolute;
    bottom: 83%;
    left: 19%;
    font-family: "Slackey", sans-serif;
}
.CPS_TExt {
    font-size: 50px;
    padding-right: 70%;
    padding-bottom: 110px;
    transition: transform 0.2s ease, color 0.2s ease; /* Плавная анимация изменения размера и цвета */
    font-family: "Slackey", sans-serif;
}
.counter {
    font-size: 50px;
    position: absolute;
    bottom: 500px;
    transition: transform 0.2s ease, color 0.2s ease; /* Плавная анимация изменения размера и цвета */
    font-family: "Slackey", sans-serif;

}
.counter1 {
    font-size: 50px;
    position: absolute;
    bottom: 90%;
    left: 6%;
    transition: transform 0.2s ease, color 0.2s ease; /* Плавная анимация изменения размера и цвета */
    font-family: "Slackey", sans-serif;

}
.button {
    -webkit-tap-highlight-color: transparent; /* Убираем выделение на iOS */
    background-image: url('/Assets/HSe_COin.png'); /* Путь к вашему изображению */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 450px;
    height: 450px;
    cursor: pointer;
    border-radius: 10000000000000px; /* Закругляем углы, если нужно */
    color: transparent;
    outline: none;
    transition: transform 0.2s ease; /* Плавная анимация трансформации */
    touch-action: manipulation; /* Оптимизация для сенсорных устройств */
    position: absolute;
    bottom: 70px;
}

.button2 {
    -webkit-tap-highlight-color: transparent; /* Убираем выделение на iOS */
    background-image: url('/Assets/UPG_1.png'); /* Путь к вашему изображению */
    background-size: 100% auto;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 15%;
    object-fit: cover;
    cursor: pointer;
    color: transparent;
    outline: none;
    /* padding: 250px; */
    padding-top: 105px;
    transition: transform 0.2s ease; /* Плавная анимация трансформации */
    touch-action: manipulation; /* Оптимизация для сенсорных устройств */
}

.button:active {
    transform: scale(0.9); /* Уменьшаем кнопку при нажатии */
    transition: transform 0.1s ease; /* Быстрая реакция на нажатие */
}
.button1:active {
    transform: scale(0.9); /* Уменьшаем кнопку при нажатии */
    transition: transform 0.1s ease; /* Быстрая реакция на нажатие */
}
.button2:active {
    transform: scale(0.9); /* Уменьшаем кнопку при нажатии */
    transition: transform 0.1s ease; /* Быстрая реакция на нажатие */
}



.save-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Стиль для нижнего бара */
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0; /* Убедимся, что бар начинается с края экрана */
    width: 100%; /* Задаем ширину 100% */
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 34px 0;
    box-sizing: border-box; /* Включаем паддинги в ширину */
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.icon:hover {
    color: #61dafb;
}
